<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
    <title>Agence</title>
    <style> 
        body{
            padding: 0;
            margin: 0;
            background: #fff;
            font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container{
            display: block;
            font-size: 16px;
            max-width: 500px;
            background: #fff;
            margin: auto;
            margin-top: 30px;
            padding: 30px;
            padding: 30px;
        }

        .page{
            margin-top: 20px;
        }

        .page h2{
            font-size: 25px;
            font-weight: normal;
        }

        .page .exp{
            margin: 20px 0;
        }

        .page a.btn{
            height: 45px;
            background: #039fe2;
            color: #fff;
            text-decoration: none;
            text-align: center;
            display: block;
            line-height: 45px;
            margin-bottom: 10px;
            margin-top: 40px;
            border-radius: 3px;
        }

        a{
            text-decoration: none;
        }

        .logo img{
            height: 40px;
        }

        .logo{
            display: flex;
        }

        .logo span{
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://imapi.me/assets/logo/logo2.png" />
        </div>
        <div class="page">
            <h2>Bienvenue sur notre réseau immobilier.</h2>
            <div class="exp">
                Votre demande a été approuvée.
                Vous avez désormais  accès à la meilleure plateforme disponible pour vous aider à gérer toutes vos activités de marketing et de gestion de vos biens immobiliers et de vos clients. 
            </div>
            <div class="information de connexion">
                <div class="line">
                    Email: {{ username }}
                </div>
                <div class="line">
                    Mot de passe: {{ password }}
                </div>
            </div>
            <div>N’oubliez pas de le modifier une fois que vous gagnez accès à votre page de gestion. <br />
            Pour accéder à la page de gestion: <a href="{{ agencyLink }}">cliquez-ici</a></div>
            <br />
            <div class="extra">
                Des questions ? Envoyez un email au <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a>.
            </div>
        </div>
    </div>
</body>
</html>