<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
        <title>Bienvenue sur Abidjan Habitât</title>
        <style>

            *{
                box-sizing: border-box;
            }

            .container{
                background: #fff;
                font-family: 'Poppins', sans-serif;
                border: 1px solid #e5e5e5;
                max-width: 500px;
                font-size: 15px;
            }

            .header{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                border-bottom: 1px solid #e5e5e5;
            }

            .header img{
                width: 30px;
                position: relative;
                top: -3px;
                margin-right: 5px;
            }

            .header .company-name{
                font-weight: 700;
            }

            .container .body{
                padding: 40px;
            }

            .property{
                width: 100%;
                padding: 20px;
                box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
            }

            .property .person-name{
                font-size: 14px;
            }

            .property-label{
                font-weight: 700;
                font-size: 17px;
                margin-bottom: 5px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="header">
                    <img src="https://img.icons8.com/ios/50/000000/man-logo.png"/>
                    <div class="company-name">{{ company }}</div>
                </div>
                <div class="body">
                    <div class="property">
                        <div class="title">
                            <div class="person-name">Nassirou Aly</div>
                            <div class="property-label">
                                Sonteuse villa chic et harmonieux
                            </div>
                            <div class="splited">
                                <div class="element">
                                    Durée
                                    <span class="value">13/7/2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>