<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
        <title>Bienvenue sur Abidjan Habitât</title>
        <style>
            *{
                box-sizing: border-box;
            }

            .container{
                background: #fff;
                font-family: 'Poppins', sans-serif;
                border: 1px solid #e5e5e5;
                max-width: 600px;
                font-size: 14px;
                margin: auto;
            }

            .banner{
                height: 400px;
                background-size: cover;
                background-position: top;
                background-image: url('https://imapi.me/assets/image/welcome-banner-image.jpg');
            }

            .banner .sample{
                text-align: center;
                margin: 60px auto;
                max-width: 400px;
            }

            .banner .sample strong{
                display: block;
                font-size: 35px;
                color: #fff;
            }

            .banner .sample p{
                color: #fff;
                margin: 20px 0;
            }

            .banner .sample a{
                display: inline-block;
                background: #03a0e3;
                color: #fff;
                text-decoration: none;
                height: 40px;
                line-height: 40px;
                width: 250px;
                border-radius: 30px;
            }

            .header{
                display: flex;
                justify-content: center;
                height: 80px;
                background: #ffffffdd;
            }

            .header img{
                display: block;
                margin: auto;
                height: 50px;
                position: relative;
            }

            .header .company-name{
                margin-left: 10px;
                font-weight: 700;
            }

            .container .body{
                padding: 30px;
            }

            .title{
                font-weight: 700;
                font-size: 18px;
                margin-bottom: 15px;
            }

            .container button{
                display: block;
                width: 170px;
                height: 40px;
                background: #43AA8B;
                color: #fff;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;
                margin-top: 30px;
                border: 1px solid #43AA8B;
            }

            .feedback{
                padding: 40px 0;
                background: #03a0e3;
                color: #fff;
            }

            .feedback div{
                display: block;
                text-align: center;
            }

            .feedback a{
                display: block;
                margin: 15px auto 0;
                width: 170px;
                height: 40px;
                line-height: 40px;
                background: #fff;
                color: #03a0e3;
                border-radius: 30px;
                text-align: center;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="banner">
                    <div class="header">
                        <img src="https://imapi.me/assets/logo/logo2.png"/>
                    </div>
                    <div class="sample">
                        <strong>Bienvenue</strong>
                        <p>
                            Vous allez augmenter vos chances de trouver un bien à louer ou à acheter
                        </p>
                        <a href="{{ sitelink }}">Parcourir maintenant</a>
                    </div>
                </div>
                <div class="body">
                    <div class="title">
                        Votre compte a bien été créé.
                    </div>
                    <p>
                        Vous allez augmenter vos chances de trouver un bien à louer ou à acheter, vous allez découvrir les meilleures stratégies et systèmes à votre disposition pour vous offrir les meilleures offres.
                    </p>
                    <p>
                        Avant d'envoyer un e-mail au support technique, il y a 99 % de chances que la réponse à votre question se trouve sur la page d'aide. Cliquez sur le lien ci-dessous pour y accéder.
                    </p>
                    <p>
                        <a href="{{ sitelink }}help-center">{{ sitelink }}/help-center</a>
                    </p>
                    <p>
                        Si aucune de ces réponses ne répond à votre question, veuillez nous contacter à  <a href="mailto:support@abidjanhabitat.com">support@abidjanhabitat.com</a>.
                    </p>
                    <p>
                        Si vous avez besoin de conseils n’hésitez pas à prendre un rendez-vous directement en cliquant sur ce <a href="{{ sitelink }}/meetup">lien</a>. 
                    </p>
                </div>
                <div class="feedback">
                    <div class="title">Votre avis est important</div>
                    <div>
                        Que pensez vous de notre plateforme, aidez-nous à améliorer notre service
                    </div>
                    <a href="{{ sitelink }}feedback">Donner votre avis</a>
                </div>
            </div>
        </div>
    </body>
</html>