<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
        <title>Bienvenue sur Abidjan Habitât</title>
        <style>
            *{
                box-sizing: border-box;
            }

            .container{
                background: #fff;
                font-family: 'Poppins', sans-serif;
                border: 1px solid #e5e5e5;
                padding: 40px;
                max-width: 600px;
                font-size: 14px;
            }

            .header{
                display: flex;
            }

            .header img{
                width: 30px;
                position: relative;
                top: -6px;
            }

            .header .company-name{
                margin-left: 10px;
                font-weight: 700;
            }

            .container .body{
                margin-top: 25px;
            }

            .title{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .container button{
                display: block;
                width: 170px;
                height: 40px;
                background: #43AA8B;
                color: #fff;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;
                margin-top: 30px;
                border: 1px solid #43AA8B;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="header">
                    <img src="https://img.icons8.com/ios/50/000000/man-logo.png"/>
                    <div class="company-name">{{ company }}</div>
                </div>
                <div class="body">
                    <div class="title">
                        Inscription réussie !
                    </div>
                    <div class="hello">
                        Salut {{ name }}
                    </div>
                    <p>
                        Merci de nous faire confiance et bienvenue sur Abidjan Habitat.
                    </p>
                    <p>
                        Vous avez probablement des questions.
                    </p>
                    <p>
                        Vous trouverez ci-dessous les réponses à presque toutes les questions imaginables  que vous pourriez vous poser sur le marketing, la vente ou l’achat et la location de biens immobiliers.
                    </p>
                    <p>
                        Vous allez augmenter vos chances de trouver un bien à louer ou à acheter et si vous êtes propriétaire ou agent immobilier, vous allez découvrir les meilleures stratégies et systèmes à votre disposition pour attirer plus de clients et vendre votre propriété aujourd'hui et d'économiser de l'argent.
                    </p>
                    <p>*********** IMPORTANT***********</p>
                    <p>
                        Enregistrez cet e-mail où vous pourrez le retrouver facilement.
                    </p>
                    {% if(isAgency) %}
                        <p>
                            Cliquez sur <a href="{{ agencylink }}">{{ agencylink }}</a> pour avoir accès à votre page et manager vos besoins ou vos offres. 
                        </p>
                    {% endif %}
                    <p>
                        Avant d'envoyer un e-mail au support technique, il y a 99 % de chances que la réponse à votre question se trouve ci-dessous.
                    </p>
                    <p>
                        <a href="{{ sitelink }}/help-center">{{ sitelink }}/help-center</a>
                    </p>
                    <p>
                        Si vous avez besoin de conseils n’hésitez pas à prendre un rendez-vous directement en cliquant sur ce <a href="{{ sitelink }}/meetup">lien</a>. Vous serez redirigé vers une autre page où vous pourrez choisir une date et une heure préférée pour la consultation gratuite ou le service d'évaluation de votre propriété.
                    </p>
                    <p>
                        Si aucune de ces réponses ne répond à votre question spécifique, veuillez nous contacter à  <a href="mailto:support@abidjanhabitat.com">support@abidjanhabitat.com</a>. Nous répondrons aussi vite que possible.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>