<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
        <title>Bienvenue sur Abidjan Habitât</title>
        <style>
            body{
                background: #e5e5e5;
            }

            *{
                box-sizing: border-box;
            }

            .container{
                background: #fff;
                font-family: 'Poppins', sans-serif;
                border: 1px solid #e5e5e5;
                padding: 30px;
                max-width: 600px;
                font-size: 15px;
                margin: auto;
            }

            .header{
                display: flex;
                justify-content: center;
            }

            .header img{
                width: 30px;
                position: relative;
                top: -6px;
            }

            .header .company-name{
                margin-left: 10px;
                font-weight: 700;
            }

            .container .body{
                margin-top: 25px;
            }

            .title{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .container button{
                display: block;
                width: 170px;
                height: 40px;
                background: #43AA8B;
                color: #fff;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;
                margin-top: 30px;
                border: 1px solid #43AA8B;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="header">
                    <img src="https://img.icons8.com/ios/50/000000/man-logo.png"/>
                    <div class="company-name">{{ company }}</div>
                </div>
                <div class="body">
                    <div class="title">
                        Publication réussie !
                    </div>
                    <div class="hello">
                        Salut {{ name }}, encore une étape de franchie  
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis velit, et feugiat tortor pulvinar laoreet. Maecenas a est orci.
                    </p>
                    <p>
                        Integer tellus orci, accumsan non lectus ac, condimentum tempor velit. Curabitur quis leo posuere, vehicula velit ut, elementum odio. Nam rutrum finibus fermentum. Ut rhoncus tristique urna non consequat. Fusce ligula est
                    </p>
                    <p>
                        Fusce ligula est, imperdiet sed pulvinar
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>