<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
        <title>Nouvel intérêt</title>
        <style>
            body{
                background: #e5e5e5;
            }

            *{
                box-sizing: border-box;
            }

            .container{
                background: #fff;
                font-family: 'Poppins', sans-serif;
                border: 1px solid #e5e5e5;
                padding: 30px;
                max-width: 600px;
                font-size: 15px;
                margin: auto;
            }

            .header{
                display: flex;
                justify-content: center;
            }

            .header img{
                width: 30px;
                position: relative;
                top: -6px;
            }

            .header .company-name{
                margin-left: 10px;
                font-weight: 700;
            }

            .container .body{
                margin-top: 25px;
            }

            .title{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .container button{
                display: block;
                width: 170px;
                height: 40px;
                background: #43AA8B;
                color: #fff;
                border-radius: 3px;
                text-decoration: none;
                text-align: center;
                margin-top: 30px;
                border: 1px solid #43AA8B;
            }

            .body a{
                display: block;
                width: 100%;
                background: #039fe2;
                color: #fff;
                text-decoration: none;
                height: 45px;
                text-align: center;
                line-height: 45px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <img src="https://imapi.me/assets/logo/logo2.png" />
                </div>
                <div class="body">
                    <div class="title">
                        Nouvel intérêt
                    </div>
                    <div class="hello">
                        Bonjour {{ name }}
                    </div>
                    <p>
                        Vous avez un nouvel intérêt. Veuillez accéder à votre tableau de bord pour consulter votre intérêt:
                    </p>
                    <a class="btn" href={{ agencylink }}>Accéder à mon compte</a>
                </div>
            </div>
        </div>
    </body>
</html>