<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
    <title>Nouvelle requete</title>
    <style> 
        body{
            padding: 0;
            margin: 0;
            background: #fff;
            font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container{
            display: block;
            max-width: 500px;
            font-size: 16px;
            background: #fff;
            margin: auto;
            margin-top: 30px;
            padding: 30px;
            padding: 30px;
        }

        .page{
            margin-top: 20px;
        }

        .page h2{
            font-size: 25px;
        }

        .page .exp{
            margin: 20px 0;
        }

        .page a.btn{
            height: 45px;
            background: #039fe2;
            color: #fff;
            text-decoration: none;
            text-align: center;
            display: block;
            line-height: 45px;
            margin-bottom: 10px;
            margin-top: 40px;
            border-radius: 3px;
        }

        a{
            text-decoration: none;
        }

        .logo img{
            height: 40px;
        }

        .logo{
            display: flex;
        }

        .logo span{
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://imapi.me/assets/logo/logo2.png" />
        </div>
        <div class="page">
            <h2>Nouvelle requête d'agence</h2>
            <div class="exp">
                Vous avez une nouvelle d'adhésion d'agence. Accéder à votre back office pour valider la requête.</br >
            </div>
            <a href="{{adminLink}}"></a>
        </div>
    </div>
</body>
</html>