<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
    <style> 
        body{
            padding: 0;
            margin: 0;
            background: #fff;
            font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container{
            display: block;
            font-size: 16px;
            max-width: 500px;
            background: #fff;
            margin: auto;
            margin-top: 30px;
            padding: 30px;
            padding: 30px;
        }

        .page{
            margin-top: 20px;
        }

        .page h2{
            font-size: 25px;
        }

        .page .exp{
            margin: 20px 0;
        }

        .page a.btn{
            height: 45px;
            background: #039fe2;
            color: #fff;
            text-decoration: none;
            text-align: center;
            display: block;
            line-height: 45px;
            margin-bottom: 10px;
            margin-top: 40px;
            border-radius: 3px;
        }

        a{
            text-decoration: none;
        }

        .logo img{
            height: 40px;
        }

        .logo{
            display: flex;
        }

        .logo span{
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://imapi.me/assets/logo/logo2.png" />
        </div>
        <div class="page">
            <h2>Réinitialisez votre mot de passe</h2>
            <div class="exp">
                Salut {{ name }}! Utilisez le lien ci-dessous pour vérifier votre email et pour réinitialiser votre mot de passe.
            </div>
            <a class="btn" href="{{ link }}">Réinitialiser maintenant</a>
            <div class="extra">
                Des questions ? Envoyez un email au <a href="mailto:{{ supportEmail }}">{{ supportEmail }}</a>.
            </div>
        </div>
    </div>
</body>
</html>