<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification à deux facteur</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 
    <style>
        body{
            padding: 0;
            margin: 0;
            background: #f5f5f5;
            font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container{
            display: block;
            width: 500px;
            background: #fff;
            margin: auto;
            margin-top: 30px;
            padding: 30px;
            text-align: center;
        }

        h1{
            font-weight: normal;
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
        }

        .code{
            background: #e5e5e5;
            font-size: 40px;
            width: 60%;
            margin: auto;
            padding: 10px 0px;
        }

    </style>
</head>
<body>
    <div class="container">
        <p>Abidjan Habitat</p>
        <h1>Authentification à deux facteur</h1>
        <p>
            Salut {{ name }}, Saisir le code ci-dessous pour accéder à votre compte
        </p>
        <div class="code">
            {{ code }}
        </div>
    </div>
</body>
</html>